.styleMenu{
    display: flex;
    align-items: center;
    width: 385px;
    height: 114px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px;
    margin-bottom: 22px;
}

.styleMenu .mapSelector{
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 10px;
    background: url("./../assets/mapIcons/default.png") no-repeat center center;
    background-size: cover;
    border: 3px solid white;
    margin: 0 2px;
}

.styleMenu .caret{
    width: 15px;
    cursor: pointer;
}